/////// SPACING ///////
$spc-tiny: 0.5rem; //8px
$spc-x-small: 1rem; //16px
$spc-small: 1.5rem; //24px
$spc-medium: 2rem; //32px
$spc-large: 2.5rem; //40px
$spc-x-large: 3rem; //48px
$spc-xx-large: 3.5rem; //56px
$spc-xxx-large: 4rem; //64px

/////// BORDER-RADIUS ///////
$border-rds--null: 0;
$border-rds--l: 4px;
$border-rds--xl: 8px;
$border-rds--circle: 100%;
