.block-center {
  display: block;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}

.margin-null {
  margin: 0;
}

.position-relative {
  position: relative;
}

.disabled {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}
