/////// BREAKPOINTS ///////
$screen-xxs: 320px;
$screen-xs: 480px;
$screen-sm: 768px;
$screen-m: 992px;
$screen-l: 1200px;
$screen-xl: 1400px;
$screen-xxl: 1600px;
$screen-lg: 1800px;

/////// SPACING ///////
$spc-tiny: 0.5rem; //8px
$spc-x-small: 1rem; //16px
$spc-small: 1.5rem; //24px
$spc-medium: 2rem; //32px
$spc-large: 2.5rem; //40px
$spc-x-large: 3rem; //48px
$spc-xx-large: 3.5rem; //56px
$spc-xxx-large: 4rem; //64px

/////// BORDER-RADIUS ///////
$border-rds--null: 0;
$border-rds--l: 4px;
$border-rds--xl: 8px;
$border-rds--circle: 100%;

/////// COLORS ///////
$color-dark-1: #1f2227;
$color-dark-2: #1a1d21;
$color-placeholder: #97989b;
$color-light-1: #fff;
$color-primary: #ffa801;
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

/////// FONTS ///////
$font-xs: 0.75rem; // 12px
$font-s: 0.875rem; // 14px
$font-m: 1rem; // 16px
$font-l: 1.125rem; // 18px
$font-xl: 1.25rem; // 20px

/////// TRANSITIONS | ANIMATIONS ///////
$transition-duration: 0.3s;
$animation-duration: 1s;
$timing-function: ease-in-out;

@mixin transitionMixin($prop: all, $duration: 0.3s) {
  transition: $prop $duration $timing-function;
}

@mixin animationMixin(
  $name,
  $duration: $animation-duration,
  $timing: $timing-function,
  $repeat: infinite
) {
  animation: $name $duration $timing $repeat;
}

@mixin fontBodyMixin {
  color: $color-light-1;
  font-family: $font-family;
  font-size: $font-s;
  font-weight: 400;
  line-height: 1.5;
}
