html {
  background-color: $color-dark1;
  caret-color: $color-primary;
}

body {
  @include fontBodyMixin;
}

::placeholder {
  color: $color-placeholder;
  font-size: 0.75rem; // 12px
  font-weight: 300;
}

footer {
  position: absolute;
  bottom: 0;
  height: 3rem;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: 0.875rem; //14px

  a {
    color: $color-primary;
  }
}

h1 {
  color: $color-primary;
  letter-spacing: 1px;
}

#__layout {
  position: relative;
  min-height: 100vh;
}

.main-container {
  max-width: 90vw;
  width: 100%;
  display: block;
  margin: $spc-large auto 0 auto;
  padding-bottom: 5rem;

  @media screen and (min-width: $screen-sm) {
    max-width: 80vw;
  }
}

.center-block {
  display: block;
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.margin-null {
  margin: 0;
}

.position-relative {
  position: relative;
  min-height: 100vh;
}
