body {
  background-color: $color-dark1;
  font-family: $font-family;
  font-weight: 400;
  color: $color-font;
  caret-color: $color-primary;
}

::placeholder {
  color: $color-placeholder;
  font-size: 0.75rem; // 12px
  font-weight: 300;
}

footer {
  text-align: center;
  font-style: italic;
  font-size: 0.875rem; //14px

  a {
    color: $color-primary;
  }
}

.container {
  margin: $spc-large 0;
  width: 100%;
}

h1 {
  color: $color-primary;
}
