@use "../globals/variables";

.card {
  width: 100%;
  max-width: 150px;
  display: block;
  margin: 0 auto variables.$spc-x-small auto;
  padding: variables.$spc-tiny;
  border-radius: 30px;
  opacity: 0.75;

  &:active {
    color: variables.$color-primary;
  }

  &__image {
    display: block;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    margin: 0;
    color: variables.$color-placeholder;
    font-size: 0.875rem; //14px
  }

  @media screen and (min-width: variables.$screen-xs) {
    &--dark {
      background: variables.$color-dark-2;
      @include variables.transitionMixin;

      &:hover,
      &:active {
        opacity: 1;
        background-color: variables.$color-primary;

        .card__title {
          color: variables.$color-dark-1;
        }
      }
    }
  }

  @media screen and (min-width: variables.$screen-sm) {
    padding: variables.$spc-x-small;
  }
}
