.card {
  width: 100%;
  max-width: 150px;
  display: block;
  margin: 0 auto $spc-x-small auto;
  padding: $spc-tiny;
  border-radius: 30px;
  opacity: 0.75;

  &:active {
    color: $color-primary;
  }

  &__image {
    display: block;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    margin: 0;
    color: $color-placeholder;
    font-size: 0.875rem; //14px
  }

  @media screen and (min-width: $screen-xs) {
    &--dark {
      background: $color-dark-2;
      @include transitionMixin;

      &:hover,
      &:active {
        opacity: 1;
        background-color: $color-primary;

        .card__title {
          color: $color-dark-1;
        }
      }
    }
  }

  @media screen and (min-width: $screen-sm) {
    padding: $spc-x-small;
  }
}
