@use "../globals/variables";

.header {
  padding: 10 px variables.$spc-x-small;
  background-color: variables.$color-dark-2;
  padding: 10px 1rem;
  height: 55px;

  nav,
  ul {
    height: 100%;
  }

  &__baseline {
    text-align: right;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: variables.$color-light-1;
    opacity: 0.7;
    transform: rotate(0deg);

    &:hover,
    &:active {
      @include variables.animationMixin(hoverBaseline);
    }
  }

  &__button {
    display: block;
    margin-left: auto;
    transform-origin: 50% 50%;

    &:hover,
    &:active {
      @include variables.animationMixin(pokeball);
    }
  }

  &__team-indicator {
    position: absolute;
    top: 5px;
    right: 5px;
    background: variables.$color-primary;
    color: variables.$color-dark-1;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    padding: 2px;
    text-align: center;
    font-size: 10px;
  }
}
