.input {
  &-search {
    display: block;
    margin: 0 auto $spc-large auto;
    padding: 0 0 $spc-tiny/2 0;
    background: none;
    border: 0;
    outline: 0;
    border-bottom: 1px solid $color-placeholder;
    color: $color-placeholder;
    font-size: 0.875rem; // 14px

    @include animated;

    &--active {
      color: $color-font;
      border-bottom: 1px solid $color-font;
    }
  }
}
