@use "../globals/variables";

.loader {
  @include variables.animationMixin(pokeball, 2s);
  opacity: 1;

  &--hidden {
    opacity: 0;
    animation: none;
  }

  svg {
    display: block;
    margin: 0 auto;
  }
}
