@use "../globals/variables";

.pokemon {
  &__sprites {
    order: 1;

    &__main {
      min-height: 300px;
    }

    &__versions {
      &__title {
        text-align: center;
        margin: variables.$spc-medium 0 variables.$spc-x-small 0;
      }
      &__image {
        opacity: 0.5;
        @include variables.transitionMixin(opacity);

        &.selected {
          opacity: 1;
        }

        &:hover,
        &:active {
          opacity: 1;
        }
      }
    }

    @media screen and (min-width: variables.$screen-sm) {
      order: 0;
    }
  }

  &__details {
    order: 0;
    box-sizing: border-box;
    padding-left: 0 !important;
    text-align: left;

    &__name {
      text-align: center;
    }

    &__informations {
      margin: variables.$spc-medium 0;

      &__section {
        margin-bottom: variables.$spc-large;

        a {
          color: variables.$color-light-1;
        }

        .current {
          color: variables.$color-primary;
        }
      }
    }

    .button {
      margin: 0 auto;
    }

    @media screen and (min-width: variables.$screen-sm) {
      order: 1;
      padding-left: variables.$spc-large !important;

      &__name {
        text-align: left;
      }

      &__informations {
        margin: variables.$spc-large 0;
        text-align: left;
      }
      .button {
        margin: 0;
      }
    }
  }
}
